.border-red {
  border-color: red;
  border-style: solid;
}

.border-blue {
  border-color: blue;
  border-style: solid;
}

body, html {
  height: 100%;
}

.row-fluid {
  height: 100%;
}


#left-bg {
  background-image: url("../images/leftcontent-bg.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 500%;
  min-height:100%;
}

#left-header {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #F5FFF1;
  text-align: center;
  margin-top: 520px;
}

.p-left {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #F5FFF1;
  text-align: center;
}

.right-header {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #7a7f78;
  font-style: italic;
  width: 100%;
  min-width:100%;
}

.p-right {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #3f423e;
  margin-top: 16px;
}

a:link {
  color: #F5FFF1 !important;
}

a:visited {
  color: #F5FFF1 !important;
}

a:hover {
    color: #F5FFF1 !important;
}

a:active {
    color: #F5FFF1 !important;
}
