.border-red {
  border-color: red;
  border-style: solid;
}

.border-blue {
  border-color: blue;
  border-style: solid;
}

body, html {
  height: 100%;
}

.row-fluid {
  height: 100%;
}

#left-bg {
  background-image: url("../images/left-content-bg.jpg");
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 500%;
  min-height:100%;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

#left-content {
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

#left-header {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #F5FFF1;
  text-align: center;
}

#right-content {
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}

.p-left {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #F5FFF1;
  text-align: center;
}

.portimage {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
  margin-top: 250px;
}

.right-header {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #7a7f78;
  font-style: italic;
  width: 100%;
  min-width:100%;
}

.p-right {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #3f423e;
  margin-top: 16px;
}

.h3-right {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  color: #3f423e;
  margin-top: 16px;
}

a:link {
  color: #F5FFF1 !important;
}

a:visited {
  color: #F5FFF1 !important;
}

a:hover {
    color: #F5FFF1 !important;
}

a:active {
    color: #F5FFF1 !important;
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
